.cart-mini{
	$b:&;
	position: relative;

	&__link{
    display: block;
    height: 23px;
    color: $clrM;
    cursor: default;

    &:hover{
      text-decoration: none;
      color: $clrM;
    }

    #{$b+'_full'} &{
      cursor: pointer;

      &:hover{
        color: $clr1;
      }
    }
	}

	&__link-icon{
		position: relative;
	}

	&__link-count{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    color: $clrM;
    background: $clr5;

    #{$b+'_full'} &{
    	display: flex;
    }
	}

	&__link-info{}

	&__link-title{}

	&__link-price{}
}