.labels{
	$b:&;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;

	&__item{
		// margin-right: 4px;
	  display: block;
	  border-radius: 4px;
	  padding: 4px 8px;
	  line-height: 20px;
	  text-decoration: none;
	  text-transform: uppercase;
	  font-weight: normal;
	  font-size: 14px;
	  color: #fff;
	  background: $clr0;
	  // @include gradient-x(#470404, #770f0f);

	  &+&{
	  	margin-left: 4px; // tt
	  }

	  &_new{}
	  &_hit{}
	  &_sale{}
	  &_discount{}
	}

	&__text{}

}

