//************************************************************************ article_item */

.article_item{}

.article_item_title{}

.article_item_title_link{
  display: block;
}

.article_item_title_link_image{
  display: block;
  text-align: center;
  img{
    // width: 100%;
  }
}

.article_item_title_link_text{}

.article_item_preview{}

.article_item_preview_link{
  display: block;
}

.article_item_preview_link_image{
  display: block;
  text-align: center;
  img{
    // width: 100%;
  }
}

.article_item_info{}

.article_item_date{
  font-size: $fzM - 2;
}

.article_item_intro{}

.article_item_more{}

.article_item_more_link{}




// structures

.items_grid{

  .article_item{}

} // .items_grid


.items_list{

  .article_item{}

} // .items_list




//************************************************************************ article_detail */

.article_detail{} // .article_detail

.article_detail_preview{
  float: left;
  margin-right: 20px;
}
