//************************************************************************ faq_item */

.faq_item{
  position: relative;
  border-style: solid none;
  border-width: 1px;
  border-color: $clrM;
  padding: 9px 0;// 27px 0;

  +.faq_item{
    margin-top: -1px;
  }

  &.active{
    .faq_item_quest{
      &:after{
        content: '\f107';
      }
    }
  }
}

.faq_item_quest{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
  transition: color .2s ease-out, background .2s ease-out, border .2s ease-out;
  cursor: pointer;

  &:after{
    margin-right: 6px;
    display: block;
    width: 21px;
    height: 21px;

    // content: url('../img/i-plus-blue.png');

    // flex-shrink: 0;
    line-height: 1;
    font-family: 'fa5l';
    // font-weight: 300;
    // font-size: 30px;
    color: $clrM;
    // content: '\f067';
    content: '\f107';
  }

  &.active{
    &:after{
      content: '\f106';
    }
  }
}

.faq_item_quest_text{
  border-radius: 5px;
  display: inline-block;
  padding: 3px 9px 3px 0;
  background: rgba(#fff, .5);
}

.faq_item_answer{
  margin-top: 10px;//16px;
  // border-top: 1px dashed $clrB;
  // padding-top: 8px;
  // border-radius: 0 5px 5px 0;
  border-left: 9px solid $clr1;
  // padding-left: 18px;
  padding: 3px 9px 3px 18px;
  // background: rgba(#fff, .8);
  >*:last-child{
    margin-bottom: 0;
  }
}

